* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: odile, serif;
  font-weight: 400;
  font-style: normal;
}

.headline {
  margin: 10px;
  font-size: 20pt;
}

p {
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

body .landing-page {
  background-image: url("assets/landingpic.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
@media screen and (min-width: 640px) {
  body .blue {
    background-color: #1a6178;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body .blue main {
  margin: 0;
  background-color: white;
}
@media screen and (min-width: 640px) {
  body .blue main {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  body .blue main {
    width: 60%;
  }
}
body .blue main .showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .blue main .showcase .products {
  margin: 20px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
body .blue main .showcase .products .product {
  width: 150px;
}
@media screen and (min-width: 1024px) {
  body .blue main .showcase .products .product {
    width: 180px;
  }
}
body .blue main .showcase .products .product img {
  width: 100%;
}
body .blue main .showcase .products a {
  text-align: center;
  text-decoration: none;
  color: black;
}
body .blue main .showcase .headline-small {
  text-decoration: none;
  color: black;
}
body .blue main .showcase .headline-small:hover {
  opacity: 0.7;
  transition: 0.2s;
}
body .blue main .about {
  margin: 80px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .blue main .about .img {
  width: 250px;
}
@media screen and (min-width: 640px) {
  body .blue main .about .img {
    width: 200px;
  }
}
body .blue main .about .img img {
  width: 100%;
}
body .blue main .about .text {
  text-align: center;
  width: 80%;
}
@media screen and (min-width: 640px) {
  body .blue main .about .text {
    width: 50%;
    text-align: left;
    padding: 10px;
  }
}
body .blue main .about .about-section {
  margin: 20px 0px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 640px) {
  body .blue main .about .about-section {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 640px) {
  body .blue main .about .art {
    flex-direction: row-reverse;
  }
  body .blue main .about .art .text {
    text-align: end;
  }
}
body footer {
  background-color: #46b7b7;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}
@media screen and (min-width: 640px) {
  body footer {
    flex-direction: row;
    height: 300px;
    justify-content: space-evenly;
  }
}
body footer .atelje {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}
body footer .atelje .info {
  text-align: center;
}
body footer .atelje .info div {
  margin-bottom: 10px;
}
body footer .atelje .icons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}
body footer .atelje .icons i {
  font-size: 1.8rem;
}
body footer .contact form {
  display: flex;
  flex-direction: column;
  align-items: end;
}
body footer .contact form input, body footer .contact form textarea, body footer .contact form button {
  font-family: myriad-pro, sans-serif;
  width: 230px;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: none;
}
@media screen and (min-width: 1024px) {
  body footer .contact form input, body footer .contact form textarea, body footer .contact form button {
    width: 350px;
    font-size: 1.01rem;
  }
}
body footer .contact form button {
  width: 80px;
  cursor: pointer;
  background-color: white;
}
body footer .contact form button:hover {
  background-color: whitesmoke;
  transition: 0.2s;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

/* Navbar section */
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: #ffffffe0;
}
.nav .logo {
  width: 180px;
  height: 10px;
  position: absolute;
  top: 6px;
  margin-left: 15px;
}
.nav .logo .logo-img {
  width: 55px;
}
.nav .logo .logo-img img {
  width: 100%;
}
.nav .main_list {
  width: 600px;
  height: 65px;
  float: right;
}
.nav .main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
}
.nav .main_list ul li {
  width: 120px;
  height: 65px;
}
.nav .main_list ul li a {
  text-decoration: none;
  color: #1a6178;
  line-height: 65px;
  text-transform: uppercase;
}
.nav .main_list ul li a:hover {
  opacity: 0.8;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 97%;
  height: 2px;
  display: block;
  background-color: #46b7b7;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  top: 25px;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  top: 25px;
  margin: 0;
}

/* Home section */
.home {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

/* Medai qurey section */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    margin: 0;
  }

  .main_list ul {
    justify-content: end;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    margin: 0;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 0px;
    overflow: hidden;
  }

  .nav div.show_list {
    height: 200px;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 40px;
    background-color: #ffffffe0;
  }

  .nav div.main_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
  }

  .nav div.media_button {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .main_list ul {
    justify-content: end;
  }
}

/*# sourceMappingURL=main.css.map */
